* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body{
    overflow: scroll;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
  margin: 0 auto;
    width: 100%;
    padding: 0 40px;
}
/* 강원도지자체 폰트 */
@font-face {
    font-family: "GangwonEduPowerExtraBoldA";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
  }
  /* ppt 폰트 */
  @font-face {
    font-family: 'Freesentation-9Black';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
    font-style: normal;
}
/* 조선일보 폰트 */
@font-face {
  font-family: 'ChosunBg';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunBg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.logo {
    margin-left: 40px;
    width: 80px;
    height: 50px;
  }
  .icon {
    margin-right: 40px;
    width: 25px;
    height: 25px;
  }
  .icon:hover {
    cursor: pointer;
  }
  
  .header {
    width: 100%;
    aspect-ratio: 16/1;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  .headerMenu {
    display: flex;
    gap: 35px;
    font-size: 20px;
  }
  .text {
    font-family: 'ChosunBg';
    line-height: 2;
    text-align: center;
  }
  .headerMenu:hover {
    cursor: pointer;
  }
  .menu {
    display: none;
  }
  @media screen and (max-width: 1000px) {
    .header {
      padding: 0 0px;
    }
    .headerMenu {
      display: none;
    }
    .menu {
        display: block;
      }
      .earth {
        display: none;
      }
}
  .top{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .way{
    font-family: "GangwonEduPowerExtraBoldA";
    font-size: 50px;
  }
  .pageBtn{
    display: flex;
    gap: 30px;
  }
  .detail1page{
    font-family: 'Freesentation-9Black';
    font-size: 20px;
    text-align: center;
    color: white;
    line-height: 1.9;
    width: 100px; height: 35px;
    background-color: black;
    border: 1px solid black;
    border-radius: 25px;
   
  }
  .detail2page:hover,.detail1page:hover{
    cursor: pointer;
  }
  .detail2page{
    font-family: 'Freesentation-9Black';
    font-size: 20px;
    text-align: center;
    color:lightgray;
    line-height: 1.9;
    width: 100px; height: 35px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 25px;
  }
  .main1left,.main1right{
    border-radius: 25px;
    position: relative;
    display: inline-block;
    width: 50%;
    aspect-ratio: 2/1;
    overflow: hidden;
    border-radius: 25px;
  }
  .leftText{
    display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* 중앙 정렬 */
  }
  .rightText{
    display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* 중앙 정렬 */
  }
  .main2Text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 중앙 정렬 */
  }
  .blue{
    width: 90px; height: 30px;
    border-radius:10px;
    line-height: 2;
    color: white;
    font-size: 1rem;
    background-color: #3cb4e5;
    margin-bottom: 20px;
  }
  .overlay3{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    aspect-ratio: 2/0.7;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.3); /* 반투명 검정색 */
    pointer-events: none; /* 오버레이 위에서의 클릭 이벤트 무시 */
  }
  .overlay1,.overlay2{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    aspect-ratio: 2/1;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.3); /* 반투명 검정색 */
    pointer-events: none; /* 오버레이 위에서의 클릭 이벤트 무시 */
  }
 
  .detail1{
    padding-top: 40px;
    gap: 20px;
    display: flex;
    width: 100%;
    height: auto;
  }
  .leftimg{
    position: relative;
    object-fit: cover;
    width: 100%;
    aspect-ratio: 2/1;
    border-radius: 25px;
    transition: transform 0.3s ease-in-out;
  }
  .rightimg{
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    width: 100%;
    aspect-ratio: 2/1;
    border-radius: 25px;
    transition: transform 0.3s ease-in-out;
  }
  .detail2{
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    margin-top: 20px;
    width: 100%;
  }
  .detail2img{
    border-radius: 25px;
    width: 100%;
    aspect-ratio: 16/5.5;
    transition: transform 0.3s ease-in-out;
  }
  .rightimg:hover,.detail2img:hover,.leftimg:hover{
    cursor: pointer;
  transform: scale(1.2); /* 이미지 크기 20% 확대 */
  transform-origin: center; /* 확대 중심을 중앙으로 설정 */
  }
  .bigText{
    font-family: 'Freesentation-9Black';
    font-weight: 100px;
    color: white;
    font-size: clamp(1.8rem, 5vw, 2rem); /* 반응형 폰트 크기 */
    margin-bottom: 5px;
    text-align: center;
    white-space: nowrap; /* 줄 바꿈 방지 */
    line-height: 1.2; /* 줄 간격 */
  }
  
  .smallText{
    display: block;
    padding-top: 5px;
    font-family: 'Freesentation-9Black';
    font-weight: 100px;
    color: white;
    font-size: clamp(1rem, 4vw, 1rem); /* 반응형 작은 텍스트 크기 */
    text-align: center;
    white-space: nowrap; /* 줄 바꿈 방지 */
    line-height: 1.4; /* 줄 간격 */
  }
  .smallText1{
    display: block;
    padding-top: 5px;
    font-family: 'Freesentation-9Black';
    font-weight: 100px;
    color: white;
    font-size: clamp(1rem, 4vw, 1rem); /* 반응형 작은 텍스트 크기 */
    text-align: center;
    white-space: nowrap; /* 줄 바꿈 방지 */
    line-height: 1.4; /* 줄 간격 */
  }
.box{
  margin-top: 20px;
  width: 70%;
  display: flex;
  gap: 15px;
}
.box1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 13px;
  width: 100%;
  aspect-ratio: 2/1;
  background-color: rgba(0, 0, 0, 0.6);
}
.box2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 13px;
  width: 100%;
  aspect-ratio: 2/1;
  background-color: rgba(0, 0, 0, 0.6);
}
.box3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 13px;
  width: 100%;
  aspect-ratio: 2/1;
  background-color: rgba(0, 0, 0, 0.6);
}
@media screen and (max-width:1000px) {
  .smallText{
    display: none !important;
  }
  .bigText{
    font-size: 1.2rem;
  }
  .main1left,.main1right{
    width: 100% !important;
    flex: wrap !important;
  }
  .detail1{
    flex-wrap: wrap;
  }
  .box{
    flex-wrap: wrap;
    aspect-ratio: 1/0.5;
  }
  .detail2img{
    aspect-ratio: 1/1.6;
  }
  .overlay3{
    aspect-ratio: 1/1.62;
  }
  .detail2{
    overflow: hidden;
  }
}
  /* footer */
  .footer {
    margin-top: 60px;
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
  }
  
  .footerWrap {
    padding: 30px;
    box-sizing: border-box;
  }
  
  /* footer 첫번째 박스 */
  .footerBox1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footer img {
    width: 70px;
    height: 40px;
    display: block;
    margin-bottom: 30px;
  }
  
  .f_address {
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .f_privacy {
    font-weight: bold;
    color: black;
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    white-space: nowrap;
    box-sizing: border-box;
    gap: 5px;
    margin-bottom: 20px;
  }
  
  .f_aboutDD {
    display: flex;
    gap: 2.5rem;
  }
  .f_aboutDD ul,
  .f_aboutDD li {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 10px;
  }
  
  .f_sub {
    font-weight: bold;
    margin-bottom: 20px;
  }
  .text10{
    color: rgba(0, 0, 0, 0.7);
    font-weight: 500;
  }
  /* 반응형 1000px 이하 일 때 사라짐 */
  @media screen and (max-width: 1000px) {
    .f_aboutDD {
      display: none;
    }
  }
  
  /* footer 두번째 박스 */
  .footerBox2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
  }
  .rel {
    font-size: 1.2rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
  }
  .rel:hover{
    cursor: pointer;
  }
  
  .site {
    display: flex;
    font-weight: bold;
    align-items: center;
    display: flex;
    gap: 10px;
    margin-bottom: 1.5rem;
  }
  
  .footerBox2 p {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
  }
  
  .f_sns {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .f_sns img {
    width: 60px;
    height: auto;
    max-width: 100%;
  }
  
  #scrollToTop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 25px;
    width: 3vw; height: 3vw;
    background-color: white;
    color:black;
    border: none;
    border: 1 solid black;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #scrollToTop:hover {
    background-color: lightgray;
  }
  .upimg{
    position: absolute;
    top: 10%; left: 15%;
    width: 2vw;
    height: 2vw;
  }
  @media screen and (max-width:760px) {
    #scrollToTop{
      width: 5vw; height: 5vw;
    }
    .upimg{
      top: 20%; left: 18%;
      width: 3vw; height: 3vw;
    }
  }
  li:hover{
    cursor: pointer;
  }