* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body {
  overflow: scroll;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

/* 강원도지자체 폰트 */
@font-face {
  font-family: "GangwonEduPowerExtraBoldA";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* ppt 폰트 */
@font-face {
  font-family: "Freesentation-9Black";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2")
    format("woff2");
  font-style: normal;
}

/* 조선일보 폰트 */
@font-face {
  font-family: "ChosunBg";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunBg.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
.container {
  margin: 0 auto;
  width: 100%;
  padding: 10px 40px;
}

/* header */
.header {
  width: 100%;
  aspect-ratio: 16/1;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo {
  margin-left: 40px;
  width: 80px;
  height: 50px;
  cursor: pointer;
}

.headerMenu {
  display: flex;
  gap: 35px;
  font-size: 20px;
}
.headerMenu:hover {
  cursor: pointer;
}
.text {
  font-family: "ChosunBg";
  text-align: center;
  line-height: 2;
}

.icon {
  margin-right: 40px;
  width: 25px;
  height: 25px;
}
.icon:hover {
  cursor: pointer;
}
.menu {
  display: none;
}

/* header 화면이 1000 이하 일 때 */
@media screen and (max-width: 1000px) {
  /* .header {
    padding: 0 0px;
  } */
  .headerMenu {
    display: none;
  }
  .menu {
    display: block;
  }
  .earth {
    display: none;
  }
}
/* header */

/* mainBoard */
.mainBoard {
  width: 100%;
}
.mainWrap {
  padding: 0 8%;
}
@media screen and (max-width: 1000px) {
  .mainWrap {
    padding: 0 2rem 3rem;
  }
}
@media screen and (max-width: 768px) {
  .mainWrap {
    padding: 0 1.5rem 2rem;
  }
}

/* main 상단 부분 */
.main_Top {
  width: 100%;
  padding: 4rem 0;
}
.main_Top h1 {
  text-align: center;
  font-family: "Noto Sans KR", serif;
  font-weight: 600;
  -webkit-text-stroke: 2px black;
  font-size: clamp(3rem, 7vw, 3.5rem);
}
.category_list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
  gap: 20px;
  overflow: hidden;
  /* flex-wrap: wrap; */
}
.category_item {
  color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5rem;
  border: solid 1px gainsboro;
  white-space: nowrap; /* 줄바꿈을 방지 */
  height: 40px;
  line-height: 40px; /* 텍스트 세로 중앙 정렬 */
  padding: 0 15px;
  transition: background-color 0.3s ease, color 0.3s ease; /* 배경색과 글자색에 대한 천천히 변화하는 효과 */
  cursor: pointer;
}
/* category_item 클릭 시 색상 변화 */
.category_item.active {
  background-color: black;
  color: white;
}
@media screen and (max-width: 768px) {
  .category_list {
    overflow-x: scroll;
    justify-content: flex-start;
  }
  .category_list::-webkit-scrollbar {
    display: none; /* 스크롤 바 숨기기 */
  }
}
/* main 상단 부분 */

/* 드롭박스 */
.select_Box {
  display: none;
}
#dropdownMenuLink {
  font-weight: bold;
}
.dropdown-item {
  /* font-weight: bold; */
}

@media screen and (max-width: 1000px) {
  .select_Box {
    margin: 0 0 0 auto;
    max-width: 20rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-family: "Noto Sans KR", serif;
  }
  #dropdownMenuLink {
    background-color: white;
    color: black;
    border-radius: 2.5rem;
    border: solid 1px #eaeaea;
    font-weight: bold;
    letter-spacing: -0.05rem;
    padding: 0.5rem 1.1rem;
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .dropdown-menu {
    border-radius: 1.5rem;
    border: solid 1px #eaeaea;
  }
  .dropdown-item {
    width: 200px;
    position: static;
  }
}
@media screen and (max-width: 768px) {
  .select_Box {
    display: flex;
    max-width: none;
    min-width: 10rem;
  }
  #dropdownMenuLink {
    width: 100%;
    padding: 0.5rem 1.1rem;
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .dropdown-menu {
    width: 93%;
    border-radius: 1.5rem;
    border: solid 1px #eaeaea;
  }
}
/* 드롭박스 */

/* main 하단 부분 */
.main_Bottom {
  padding: 0;
  position: relative;
}
.tab1,
.tab2 {
  display: flex;
  gap: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}

#tab1 {
  display: flex;
}
#tab2 {
  display: none;
}
/* 기본적으로 tab1 화면일 때 ep1 색상 고정 */
#tab1 .tab_title#ep1 {
  color: skyblue;
  cursor: pointer;
}
/* 기본적으로 tab2 화면일 때 ep2 색상 고정 */
#tab2 .tab_title#ep2 {
  color: skyblue;
  cursor: pointer;
}

/* 왼쪽 네비 바 영역 */
.left_nav {
  margin-top: 6rem;
  padding-right: 2rem;
  margin-bottom: 12rem;
  margin-left: 0;
  position: sticky;
  top: 30%;
  left: 0;
  height: 100vh;
  height: fit-content;
  z-index: 10;
}
.nav_list {
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.33;
  box-sizing: border-box;
  opacity: 0.5;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.nav_list .chap1,
.nav_list .chap2,
.nav_list .chap3,
.nav_list .chap4,
.nav_list .chap5 {
  width: 120px;
  text-align: right;
  padding: 1rem 0;
  transition: all 0.3s ease;
  cursor: pointer;
}

/* 네비 강조할 때 */
.nav_list .active {
  color: #3cb4e5;
  font-size: 2.8rem;
  opacity: 1;
}
@media screen and (max-width: 1200px) {
  .left_nav {
    padding-right: 0;
  }
}
@media screen and (max-width: 1000px) {
  .left_nav {
    display: none;
  }
}
/* 왼쪽 네비 바 영역 */

/* 오른쪽 콘텐츠 영역 */
.right_content {
  height: 100%;
  width: 100%;
  padding-left: 4rem;
  margin-right: 0;
}
.right_content_inner {
  height: 100%;
  width: 100%;
  margin-bottom: 10rem;
}
.title_ep {
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-family: "Noto Sans KR", serif;
  gap: 20px;
  padding-bottom: 1.5rem;
  cursor: pointer;
}
.section {
  width: 100%;
  padding-bottom: 3rem;
  padding-top: 1rem;
}
.section h2 {
  font-family: "Nanum Gothic", serif;
  font-weight: bold;
}
.img_chapter {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.section p {
  padding-top: 1rem;
  font-size: 1.3rem;
  font-family: "Noto Sans KR", serif;
}

@media screen and (max-width: 1240px) {
  .right_content {
    padding: 0;
  }
}

@media screen and (max-width: 1000px) {
  .title_ep {
    display: none;
  }
  .section h2 {
    margin: 1rem 0;
  }
}
/* 오른쪽 콘텐츠 영역 */

/* footer */
.footer {
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
}

.footerWrap {
  padding: 30px 50px;
  box-sizing: border-box;
  font-family: "Noto Sans KR", serif;
}

/* footer 첫번째 박스 */
.footerBox1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* footer 첫번째 박스 왼쪽 영역 */
.f_info img {
  /* 로고 */
  width: 70px;
  height: 40px;
  display: block;
  margin-bottom: 30px;
}
.f_address {
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;

  font-weight: bold;
}
.f_privacy {
  font-weight: bold;
  color: black;
  max-width: 420px;
  display: flex;
  flex-wrap: wrap;
  white-space: nowrap;
  box-sizing: border-box;
  gap: 5px;
  margin-bottom: 20px;
}
.f_privacy div::after {
  content: "|";
  padding-left: 5px;
  color: rgba(0, 0, 0, 0.5);
}
.f_privacy div:last-child::after {
  content: "";
}

/* footer 첫번째 박스 오른쪽 영역 */
.f_aboutDD {
  display: flex;
  font-size: 1.1rem;
  gap: 2rem;
}
.f_aboutDD ul,
.f_aboutDD li {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 10px;
}
li:hover {
  cursor: pointer;
}
.f_sub {
  font-weight: bold;
  margin-bottom: 20px;
}
.text10 {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
}

@media screen and (max-width: 1000px) {
  /* 반응형 1000px 이하 일 때 사라짐 */
  .f_aboutDD {
    display: none;
  }
}

/* footer 두번째 박스 */
.footerBox2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

/* footer 두번째 박스 왼쪽 영역 */
.site {
  display: flex;
  font-weight: bold;
  align-items: center;
  display: flex;
  gap: 10px;
  margin-bottom: 1.5rem;
}
.rel {
  font-size: 1.2rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: white;
}
.rel:hover {
  cursor: pointer;
}

.footerBox2 p {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
}

/* footer 두번째 박스 오른쪽 영역*/
.f_sns {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.f_sns_item {
  position: relative;
}
.f_sns img {
  width: 60px;
  height: auto;
  max-width: 100%;
  transition: opacity 0.3s ease;
}

.f_sns:hover {
  background-color: lightgray(0, 0, 0, 0.3); /* 반투명 검정색 */
}

.black_overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 검정색 */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.f_sns_item:hover .black_overlay {
  opacity: 1; /* 마우스 hover 시 오버레이 보이기 */
}

/* 탑 버튼 */
#scrollToTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 25px;
  width: 3vw;
  height: 3vw;
  background-color: white;
  color: lightgray;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#scrollToTop:hover {
  background-color: lightgray;
}
.upimg {
  position: absolute;
  top: 10%;
  left: 15%;
  width: 2vw;
  height: 2vw;
}

@media screen and (max-width: 1000px) {
  .footerWrap {
    padding: 30px 30px;
  }
}
@media screen and (max-width: 768px) {
  #scrollToTop {
    width: 5vw;
    height: 5vw;
  }
  .upimg {
    top: 20%;
    left: 18%;
    width: 3vw;
    height: 3vw;
  }
}
