* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body {
  overflow: scroll;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.container {
  margin: 0 auto;
  width: 100%;
  padding: 10px 40px;
}

/* header */
.header {
  width: 100%;
  aspect-ratio: 16/1;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo {
  margin-left: 40px;
  width: 80px;
  height: 50px;
}

.headerMenu {
  display: flex;
  gap: 35px;
  font-size: 20px;
}
.headerMenu:hover {
  cursor: pointer;
}
.text {
  font-family: "GangwonEduPowerExtraBoldA";
  line-height: 2;
  text-align: center;
}

.icon {
  margin-right: 40px;
  width: 25px;
  height: 25px;
}
.icon:hover {
  cursor: pointer;
}
.menu {
  display: none;
}

/* header 화면이 1000 이하 일 때 */
@media screen and (max-width: 1000px) {
  /* .header {
    padding: 0 0px;
  } */
  .headerMenu {
    display: none;
  }
  .menu {
    display: block;
  }
  .earth {
    display: none;
  }
}
/* header */

/* mainBoard */
.mainBoard {
  width: 100%;
}
.mainWrap {
  padding: 0 8% 4rem;
}
@media screen and (max-width: 1000px) {
  .mainWrap {
    padding: 0 2rem 3rem;
  }
}
@media screen and (max-width: 768px) {
  .mainWrap {
    padding: 0 1.5rem 2rem;
  }
}

/* main 상단 부분 */
.main_Top {
  width: 100%;
  padding: clamp(4rem, 11.11vw, 5rem) 0 clamp(4rem, 11.11vw, 6rem);
}
.main_Top h1 {
  text-align: center;
  font-weight: 900;
  -webkit-text-stroke: 2px black;
  font-size: clamp(2rem, 6vw, 4rem);
}
.category_list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
  gap: 20px;
  overflow: hidden;
  /* flex-wrap: wrap; */
}
.category_item {
  color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5rem;
  border: solid 1px gainsboro;
  white-space: nowrap; /* 줄바꿈을 방지 */
  height: 40px;
  line-height: 40px; /* 텍스트 세로 중앙 정렬 */
  padding: 0 15px;
  transition: background-color 0.3s ease, color 0.3s ease; /* 배경색과 글자색에 대한 천천히 변화하는 효과 */
}
/* category_item 클릭 시 색상 변화 */
.category_item.active {
  background-color: black;
  color: white;
}
@media screen and (max-width: 768px) {
  .category_list {
    overflow-x: scroll;
    justify-content: flex-start;
  }
  .category_list::-webkit-scrollbar {
    display: none; /* 스크롤 바 숨기기 */
  }
}
/* main 상단 부분 */

/* 드롭박스 */
.select_Box {
  display: none;
}
@media screen and (max-width: 1000px) {
  .select_Box {
    margin: 0 0 0 auto;
    max-width: 20rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  #dropdownMenuLink {
    background-color: white;
    color: black;
    border-radius: 2.5rem;
    border: solid 1px #eaeaea;
    font-weight: bold;
    letter-spacing: -0.05rem;
    padding: 0.5rem 0.75rem;
  }
  .dropdown-item {
    width: 100%;
    position: static;
  }
}
@media screen and (max-width: 768px) {
  .select_Box {
    display: flex;
    max-width: none;
    min-width: 10rem;
  }
  #dropdownMenuLink {
    width: 100%;
    padding: 0.5rem 0.75rem;
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
/* 드롭박스 */

/* main 하단 부분 */
.main_Bottom {
  padding: 0;
  position: relative;
}
.tab1,
.tab2 {
  display: flex;
  gap: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}

#tab1 {
  display: flex;
}
#tab2 {
  display: none;
}
/* 기본적으로 tab1 화면일 때 ep1 색상 고정 */
#tab1 .tab_title#ep1 {
  color: skyblue;
  cursor: pointer;
}
/* 기본적으로 tab2 화면일 때 ep2 색상 고정 */
#tab2 .tab_title#ep2 {
  color: skyblue;
  cursor: pointer;
}

/* 왼쪽 네비 바 영역 */
.left_nav {
  margin-top: 5rem;
  padding-right: 2rem;
  margin-bottom: 5rem;
  margin-left: 0;
  position: sticky;
  top: 30%;
  left: 0;
  width: 8%;
  height: 100vh;
  height: fit-content;
  z-index: 10;
}
.nav_list {
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: right;
  line-height: 1.33;
  box-sizing: border-box;
  opacity: 0.5;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.nav_list .chap1,
.nav_list .chap2,
.nav_list .chap3,
.nav_list .chap4,
.nav_list .chap5 {
  padding: 1rem 0;
  text-align: right;
  transition: all 0.3s ease;
  cursor: pointer;
}

.nav_list .active {
  color: #3cb4e5;
  font-size: 3rem; /* 강조할 때 폰트 크기 */
  opacity: 1;
}

@media screen and (max-width: 1000px) {
  .left_nav {
    display: none;
  }
  .nav_list .active {
    font-size: 2.4rem;
  }
}
/* 왼쪽 네비 바 영역 */

/* 오른쪽 콘텐츠 영역 */
.right_content {
  height: 100%;
  width: 100%;
  padding-left: 4rem;
  margin-right: 0;
}
.right_content_inner {
  height: 100%;
  width: 100%;
  margin-bottom: 10rem;
}
.title_ep {
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: bold;
  gap: 20px;
  padding-bottom: 1.5rem;
  cursor: pointer;
}
.section {
  width: 100%;
  padding-bottom: 4rem;
  padding-top: 3rem;
  /* margin-top: -3rem; */
}
.section h2 {
  font-weight: bold;
  letter-spacing: -0.3rem;
}
.img_chapter {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.section p {
  padding-top: 1rem;
}

@media screen and (max-width: 1000px) {
  .right_content {
    padding: 0;
  }
  .title_ep {
    display: none;
  }
  .section h2 {
    margin: 1rem 0;
  }
}
/* 오른쪽 콘텐츠 영역 */

/* footer */
