body {
  overflow-x: hidden;
  overflow-y: scroll;
  overflow: visible;
  max-width: 1600px;
  margin: 0;
}
/* 숨김 후 나타남 아래래 */
.hidden1 {
  opacity: 0;
  transform: translateY(50px); /* 아래에서 출발 */
  transition: all 0.8s ease-in-out;
}
/* 숨김 후 나타남 오른쪽쪽 */
.hidden {
  opacity: 0;
  transform: translateX(100px); /* 오른쪽에서 출발 */
  transition: all 0.5s ease-in-out;
}

.visible {
  opacity: 1;
  transform: translateX(0);
}
.text {
  font-family: "GangwonEduPowerExtraBoldA";
  line-height: 2;
  text-align: center;
}
/** header **/
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; /* 100%로 제한 */
  max-width: 100vw;
  overflow: visible;
  position: relative;
}

.logo {
  width: 80px;
  height: 50px;
}
.icon {
  width: 25px;
  height: 25px;
}
.icon:hover {
  cursor: pointer;
}

.header {
  width: 100%;
  aspect-ratio: 16/1;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0 40px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}
.headerMenu {
  display: flex;
  gap: 35px;
  font-size: 20px;
}
.headerMenu:hover {
  cursor: pointer;
}
.menu {
  display: none;
}
@font-face {
  font-family: "GangwonEduPowerExtraBoldA";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
/**헤더 반응형 768px 일 때**/
@media screen and (max-width: 768px) {
  /* header */
  .menu {
    display: block;
  }
  .earth {
    display: none;
  }

  .main3Text {
    font-size: 40px !important;
  }
}
/** header **/
/**main **/
.mainWrap {
  width: 100%;
  padding: 0 40px;
}
/* main jin */
/* main1 */
@media screen and (max-width: 1000px) {
  .header {
    padding: 0 0px;
  }
  .headerMenu {
    display: none;
  }
  .main1 {
    display: none;
  }
  .mainWrap {
    width: 100%;
    padding: 0 0;
  }
  .main2 {
    flex-wrap: wrap; /* 줄 바꿈을 가능하게 함 */
  }

  .history,
  .careers {
    width: 48.5% !important;
    /* 각각 너비 50% */
    height: auto !important;
    border-radius: 25px;
  }

  .way {
    width: 100% !important; /* 파란색 박스가 너비 100% */
    order: +1; /* 파란색 박스를 위로 이동 */
    height: auto !important;
  }
  .foodLeft,
  .foodRight {
    height: auto !important;
  }
  .box1,
  .box2,
  .box3,
  .box4 {
    aspect-ratio: 1/0.5;
  }
}
.d-block {
  width: 100%;
  aspect-ratio: 16/4;
  border-radius: 25px;
  z-index: 0;
}
.d-block,
.w-100 {
  transform: none !important; /* 확대 효과 제거 */
  transition: none !important; /* 애니메이션 제거 */
}
.imgcontainer {
  position: relative;
}
.main1text {
  position: absolute;
  top: 45%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  font-family: "GmarketSansMedium";
  font-size: 40px;
  font-weight: 900;
  z-index: 1;
}

.main1text2 {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 70%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  font-family: "GmarketSansMedium";
  font-size: 75px;
  font-weight: 900;
  -webkit-text-stroke: 2px white;
  z-index: 1;
}
.carousel-control-prev-icon {
  height: 50px;
  width: 50px;
  color: white;
  margin-left: -120px;
}
.carousel-control-next-icon {
  height: 50px;
  width: 50px;
  color: white;
  margin-right: -120px;
}
/* main2 */
.main2 {
  padding-top: 10px;
  display: flex;
  gap: 10px;
}
.history {
  position: relative;
  width: 25%;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 25px;
  z-index: 0;
}
.historyimg {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover; /* 이미지가 박스를 벗어나지 않도록 설정 */
  transition: transform 0.3s ease-in-out; /* 확대 효과 부드럽게 */
}
.historyimg:hover {
  cursor: pointer;
  transform: scale(1.2); /* 이미지 크기 20% 확대 */
  transform-origin: center; /* 확대 중심을 중앙으로 설정 */
}
.way {
  position: relative;
  width: 50%;
  aspect-ratio: 1/0.5;
  overflow: hidden;
  border-radius: 25px;
  z-index: 0;
}
.careers {
  position: relative;
  width: 25%;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 25px;
  z-index: 0;
}
.backText {
  color: white;
  font-family: "GangwonEduPowerExtraBoldA";
  text-align: start;
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 24px;
  font-weight: 700;
  z-index: 1;
}
/* main3 */
.main3 {
  padding-top: 10px;
  display: flex;
  gap: 10px;
}
.foodLeft {
  width: 50%;
  aspect-ratio: 1/1;
  border-radius: 25px;
}
.foodRight {
  width: 50%;
  aspect-ratio: 1/1;
}
.foodimg {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
}
.main3left {
  position: absolute; /* 이미지 겹치기 위해 설정 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease-in-out; /* 부드러운 전환 효과 */
  border-radius: 25px;
}

.main3left {
  z-index: -1;
  opacity: 0; /* 기본적으로 숨김 */
}

.main3left.active {
  z-index: 1;
  opacity: 1; /* 활성화된 이미지 보임 */
}

.main3Text {
  color: lightgray;
  font-size: 70px;
  font-weight: 900;
  -webkit-text-stroke: 2px lightgray;
  z-index: 3;
}
.flex {
  width: 100%;
  aspect-ratio: 1/1;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main3Text:hover,
.main3Text2:hover,
.main3Text3:hover {
  cursor: pointer;
  color: white;
  -webkit-text-stroke: 2px white;
}
.foodRight {
  width: 50%;
  aspect-ratio: 1/1;
}
.bigbox {
  aspect-ratio: 1/0.5;
  gap: 10px;
  display: flex;
  padding-bottom: 10px;
}
.box1 {
  padding-bottom: 10px;
  border-radius: 25px;
  width: 50%;
  aspect-ratio: 1/1;
  background-color: beige;
  opacity: 0; /* 기본적으로 숨겨짐 */
  transform: translateY(50px); /* 아래로 숨겨짐 */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out; /* 부드러운 애니메이션 */
}
.box1.visible {
  opacity: 1; /* 보이게 설정 */
  transform: translateY(0); /* 원래 위치로 애니메이션 */
}
.box2 {
  border-radius: 25px;
  width: 50%;
  aspect-ratio: 1/1;
  background-color: blueviolet;
}
.box3 {
  border-radius: 25px;
  width: 50%;
  aspect-ratio: 1/1;
  background-color: beige;
}
.box4 {
  border-radius: 25px;
  width: 50%;
  aspect-ratio: 1/1;
  background-color: blueviolet;
}

/* main park */

/* main4 부분 */
.main4 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
  aspect-ratio: 2/1;
}

.main4Left,
.main4Right {
  width: calc(50% - 5px); /* 전체 너비의 50%에서 간격의 절반을 뺌 */
  height: 100%;
  background-color: green;
  border-radius: 25px;
}

/* main4 나타나기 */
.fade_in {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade_in.visible {
  opacity: 1;
  transform: translateY(0);
}

/* 반응형일 때 main4 나타나기 효과 없앰 */
@media screen and (max-width: 1000px) {
  .fade_in {
    opacity: 1;
    transform: none;
    transition: none;
  }
}

/* main4Left 부분 */
.main4LeftWrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  aspect-ratio: 1 / 1;
}

.slide {
  width: 100%;
  height: 100%;
  background-color: pink;
  border-radius: 25px;
  overflow: hidden;
}

.slide img {
  width: 100%;
  height: 100%;
  /* border-radius: 25px; */
  object-fit: cover;
  transition: transform 0.3s ease-in-out; /* 확대 효과 부드럽게 */
}
.slide img:hover {
  cursor: pointer;
  transform: scale(1.1); /* 이미지 크기 20% 확대 */
  transform-origin: center;
}

/* 슬라이드 2의 내용 정렬을 위한 추가 스타일 */
.slide_txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.text_box {
  text-align: center;
  margin-bottom: 30px;
  line-height: 0.7;
}
.text_title {
  font-size: 40px;
  font-weight: 800;
  -webkit-text-stroke: 1px black;
}
.text_content {
  box-sizing: border-box;
  color: gray;
  font-weight: 500;
}

.paging {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 65px;
  padding: 0 10px;
  margin-top: 30px;
  img {
    width: 30px;
    height: 30px;
  }
}
.paging_arrow,
.paging_num {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}
.paging_num {
  margin: 5px;
  padding: 8px;
}

/* main4Right 부분 */
.main4Right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: green;
  aspect-ratio: 1;
}

.backEvent {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.backEvent img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.backTxt1,
.backTxt2 {
  position: relative;
  color: white;
  font-size: calc(3vw + 30px);
  font-weight: 900;
  -webkit-text-stroke: 1px white;
  z-index: 2;
  text-align: center;
  cursor: pointer;
}

/* main6 부분 */
.main6 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  box-sizing: border-box;
  padding-top: 10px;
  margin-bottom: 10px;
  aspect-ratio: 4/1;
}

/* main6 오른쪽에서 왼쪽으로 나타나는 효과 */
.fade_in_left {
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
  opacity: 0;
}

.fade_in_left.visible {
  transform: translateX(0);
  opacity: 1;
}

.main6Left {
  width: 50%;
  border-radius: 25px;
  overflow: hidden;
  aspect-ratio: 2/ 1;
}

.support {
  position: relative;
  height: 100%;
}
.supportImg {
  width: 100%;
  aspect-ratio: 2 / 1;
  border-radius: 25px;
  object-fit: cover; /* 이미지가 박스를 벗어나지 않도록 설정 */
  transition: transform 0.3s ease-in-out; /* 확대 효과 부드럽게 */
}

.supportImg:hover {
  cursor: pointer;
  transform: scale(1.1); /* 이미지 크기 20% 확대 */
  transform-origin: center;
}
.support_txt {
  position: absolute;
  color: white;
  font-size: 36px;
  font-weight: 900;
  -webkit-text-stroke: 1px white;
  text-shadow: 2px 2px 5px gray;
  top: 10px;
  left: 30px;
}

.main6Right {
  width: 50%;
  border-radius: 25px;
  overflow: hidden;
  aspect-ratio: 2/ 1;
  position: relative;
}
.question {
  position: relative;
  height: 100%;
}
.questionImg {
  width: 100%;
  aspect-ratio: 2 / 1;
  object-fit: cover;
  /* object-position: center; */
  transition: transform 0.3s ease-in-out; /* 확대 효과 부드럽게 */
}

.questionImg:hover {
  cursor: pointer;
  transform: scale(1.1); /* 이미지 크기 20% 확대 */
  transform-origin: center;
}

.question_txt {
  position: absolute;
  color: white;
  font-size: 36px;
  font-weight: 900;
  -webkit-text-stroke: 1px white;
  text-shadow: 2px 2px 5px rgb(252, 189, 73);
  top: 10px;
  left: 30px;
}

/* footer */
.footer {
  width: 100%;
  height: auto;
  background-color: gainsboro;
}

.footerWrap {
  padding: 30px;
}

.footerBox1 {
  display: flex;
  justify-content: space-between;
}

.footer img {
  width: 50px;
  height: 30px;
  display: block;
  margin-bottom: 30px;
}

.f_info {
  color: rgba(0, 0, 0, 0.5);
}
.f_address {
  margin-bottom: 10px;
}

.f_privacy {
  /* display: flex;
  flex-wrap: wrap; */
  font-weight: bold;
  color: black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  white-space: nowrap;
  width: 100%;
}

.f_aboutDD {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  margin-bottom: 20px;
  ul,
  li {
    margin: 0;
    list-style: none;
    margin-bottom: 10px;
  }
}

.f_sub {
  font-weight: 600;
  margin-bottom: 20px;
}

/* 반응형 1000px 이하 일 때 사라짐 */
@media screen and (max-width: 1000px) {
  .f_aboutDD {
    display: none;
  }
}

.site {
  display: flex;
  font-weight: bold;
}

.footerBox2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.f_sns {
  display: flex;
  gap: 20px;
}

.f_sns img {
  width: 60px;
  height: auto;
  max-width: 100%;
}
