body {
  overflow: auto;
  max-width: 1280px;
}

.text {
  font-family: "GangwonEduPowerExtraBoldA";
  line-height: 1.5;
}
/** header **/
.container {
  padding: 0 30px;
}

.logo {
  width: 60px;
  height: 50px;
}
.icon {
  width: 25px;
  height: 25px;
}

.header {
  width: 100%;
  height: 68px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 900;
  background-color: white;
}
.headerMenu {
  display: flex;
  gap: 30px;
}
.headerMenu:hover {
  cursor: pointer;
}
.menu {
  display: none;
}
@font-face {
  font-family: "GangwonEduPowerExtraBoldA";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/**헤더 반응형 768px 일 때**/
@media screen and (max-width: 768px) {
  /* header */
  .menu {
    display: block;
  }
  .earth {
    display: none;
  }
  .headerMenu {
    display: none;
  }
  /* main1 */
  .main1 {
    display: none;
  }
}
/** header **/
/**main **/
.mainWrap {
  width: 100%;
}
/* main jin */
/* main1 */
.d-block{
  width: 100%;
  height: 280px;
  border-radius: 25px;
  z-index: 0;
}
.imgcontainer {
  position: relative;
}
.main1text {
  position: absolute;
  top: 45%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  font-family: "GmarketSansMedium";
  font-size: 35px;
  font-weight: 900;
  z-index: 1;
}

.main1text2 {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 70%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  font-family: "GmarketSansMedium";
  font-size: 65px;
  font-weight: 900;
  -webkit-text-stroke: 2px white;
  z-index: 1;
}

/* main2 */
.main2 {
  display: flex;
  gap: 10px;
}
.history {
  border-radius: 25px;
  width: 25%;
  height: 300px;
  background-color: red;
}
.way {
  border-radius: 25px;
  width: 50%;
  height: 300px;
  background-color: blue;
}
.careers {
  border-radius: 25px;
  width: 25%;
  height: 300px;
  background-color: black;
}

/* main3 */
.main3 {
  padding-top: 10px;
  display: flex;
  gap: 10px;
}
.foodLeft {
  width: 50%;
  height: 500px;
  background-color: aqua;
  border-radius: 25px;
}
.foodRight {
  width: 50%;
  height: 500px;
}
.bigbox {
  padding-bottom: 10px;
  gap: 10px;
  display: flex;
}
.box1 {
  border-radius: 25px;
  width: 50%;
  height: 245px;
  background-color: beige;
}
.box2 {
  border-radius: 25px;
  width: 50%;
  height: 245px;
  background-color: blueviolet;
}
.box3 {
  border-radius: 25px;
  width: 50%;
  height: 245px;
  background-color: beige;
}
.box4 {
  border-radius: 25px;
  width: 50%;
  height: 245px;
  background-color: blueviolet;
}

/* main park */

/* main5 부분 */
.main5 {
  width: 100%;
  display: flex;
}

.main5Left {
  width: 50%;
  height: 500px;
  background-color: pink;
  display: flex;
  border-radius: 25px;
}

.main5LeftWrap {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

.slide1 {
  width: 50%;
  height: 50%;
  background-color: red;
  border-radius: 25px;
}

.slide2 {
  width: 50%;
  height: 50%;
  background-color: orange;
  border-radius: 25px;
}
.slide3 {
  width: 50%;
  height: 50%;
  background-color: blue;
  border-radius: 25px;
}
.slide4 {
  width: 50%;
  height: 50%;
  background-color: violet;
  border-radius: 25px;
}

.main5Right {
  width: 50%;
  background-color: yellow;
  border-radius: 25px;
}
